<!DOCTYPE html>
<html>
  <head>
    <title>qrcode.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta name="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
    qrcode<br>
    <!-- action="getQrcode.do" view/qrcode/-->
    <form action="/api/qrcode/createQrcode.do?op=updateUserImage" id="upfile"  method="post" enctype="multipart/form-data">
	     <input type="hidden" id="id" name="id" value="id-1" />
	     <input type="file" id="newuserimage" name="newuserimage" value="浏览图片" />
	     <input type="submit" value="确定"/>
	</form>
  </body>
</html>
